In [ ]:
Introduction to Dataframes:

In [ ]:
Definition: it is capable of handling the 2 dimensional data.

In [5]:
import numpy as np
import pandas as pd

In [ ]:
A Dataframe can be created by using the following:
    
    List
    Dict
    Series
    Numpy ndarrays
    Another Dataframe

In [6]:
#create an empty DataFrame

df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
craeting a data frame from a list

In [4]:
data = [1,2,3,4,5]

df = pd.DataFrame(data)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [7]:
data = [['shazia', 10],['sani', 9],['sona', 8], ['sri', 7]]

df = pd.DataFrame(data, columns=['Bank_customers', 'Bank_Balance in Dollar(000)'])

print(df)

  Bank_customers  Bank_Balance in Dollar(000)
0         shazia                           10
1           sani                            9
2           sona                            8
3            sri                            7

In [9]:
data = [['shazia', 10],['sani', 9],['sona', 8], ['sri', 7]]

df = pd.DataFrame(data, columns=['Name','Marks'],dtype=float)

print(df)

     Name  Marks
0  shazia   10.0
1    sani    9.0
2    sona    8.0
3     sri    7.0

In [10]:
data = [['shazia', 10],['sani', 9],['sona', 8], ['sri', 7]]

df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'],columns=['Name','Marks'],dtype=float)

print(df)

         Name  Marks
rank1  shazia   10.0
rank2    sani    9.0
rank3    sona    8.0
rank4     sri    7.0

In [ ]:
why numpy

In [ ]:
pandas is built on numpy

In [ ]:
creating a DataFrame by using a Dictionary:

In [10]:
data = {'Name':['Sri', 'sheena', 'rumy', 'rani', 'raja'],'Age':[34,24,26,27,28]}

df = pd.DataFrame(data)

print(df)

     Name  Age
0     Sri   34
1  sheena   24
2    rumy   26
3    rani   27
4    raja   28